{extend name="base" /}
{block name="body"}
<div class="layui-card">
	<div class="layui-card-body">
		<table id="dataTable" lay-filter="dataTable"></table>
	</div>
</div>
<script type="text/html" id="toolbar">
	<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
</script>
<script type="text/html" id="options">
	<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
	<button class="pear-btn pear-btn-danger pear-btn-xs" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>
{/block}
{block name="script"}
<script>
	layui.use(['table', 'form', 'jquery','common'], function() {
		let treeTable  = layui.treeTable ;
		let form = layui.form;
		let $ = layui.jquery;

		treeTable.render({
			elem: '#dataTable',
			url: '{:url('list')}',
			page: false,
			tree: {
				customName: {pid:'parent_id'},
				data: {isSimpleData:true},
				view:{showIcon:false}
			},
			cols: [[
				{field: 'id',title: 'ID', align: 'center',width: 100},
				{field: 'name',title: '名称',align: 'left'},
				{title: '操作',toolbar: '#options',align: 'center',width: 130,unresize:true}
			]],
			cellMinWidth: 100,
			//skin: 'line',
			toolbar: '#toolbar',
			defaultToolbar: [{
				title: '刷新',
				layEvent: 'refresh',
				icon: 'layui-icon-refresh',
			}, 'filter']
		});

		treeTable.on('sort(dataTable)', function(obj){
			table.reload('dataTable', {
				initSort: obj,
				where: {
					sort: obj.field,
					order: obj.type
				}
			},true);
		});

		treeTable.on('tool(dataTable)', function(obj) {
			if (obj.event === 'remove') {
				layerConfirm('确定要删除该客户?','{:url('remove')}',{ids:[obj.data['id']]},function(res){
					obj.del();
				})
			} else if (obj.event === 'edit') {
				openLayer('修改客户','{:url('edit')}?id='+obj.data['id'],'80%','90%');
			}
		});

		treeTable.on('toolbar(dataTable)', function(obj) {
			if (obj.event === 'add') {
				openLayer('新增客户','{:url('add')}','80%','90%');
			}else if (obj.event === 'refresh') {
				table.reload('dataTable');
			} else if (obj.event === 'batchRemove') {
				tableAction(obj.config.id,'确定要删除这些客户','{:url('remove')}');
			} else if (obj.event === 'recycle') {
				openLayer('回收站','{:url('recycle')}','80%','90%',function () {
					table.reload('dataTable');
				});
			}
		});

		form.on('submit(query)', function(data) {
			table.reload('dataTable', {
				where: data.field,
				page:{curr: 1}
			})
			return false;
		});

		
	})
</script>
{/block}


