{extend name="base" /}
{block name="body"}
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-tab layui-tab-brief">
			<ul class="layui-tab-title">
				<a href="{:url('product')}"><li>采购入库明细</li></a>
				<li  class="layui-this">采购入库汇总</li>
			</ul>
		</div>		
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-form-item layui-inline">
					<input type="text" name="order_date" value="{:date('Y-m-01')} 至 {:date('Y-m-'.date('t'))}"  placeholder="采购日期" class="layui-input rangedate">	
				</div>	
				<div class="layui-form-item layui-inline">
					<input type="text" name="order_sn" placeholder="采购单编号" class="layui-input">	
				</div>
				<div class="layui-form-item layui-inline">
					<select name="supplier_id" lay-search>
						<option value="">供应商</option>
						{foreach $supplier as $key=>$vo}
						<option value="{$vo['id']}">{$vo['name']}</option>
						{/foreach}
					</select>
				</div>				
				<div class="layui-form-item layui-inline">
					<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="query"><i class="layui-icon layui-icon-search"></i>查询</button>
					<button type="reset" class="pear-btn pear-btn-md"><i class="layui-icon layui-icon-refresh"></i>重置</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-body">
		<table id="dataTable" lay-filter="dataTable"></table>
	</div>
</div>
<script type="text/html" id="toolbar">

</script>
<script type="text/html" id="options">
	<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
	<button class="pear-btn pear-btn-danger pear-btn-xs" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>
{/block}
{block name="script"}
<script>
	layui.use(['table', 'form', 'jquery','common'], function() {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;

		table.render({
			elem: '#dataTable',
			url: '{:url('productStat')}?order_date={:date('Y-m-01')} 至 {:date('Y-m-'.date('t'))}',
			page: true,
			cols: [[
				{field: 'supplier_name',title: '供应商',align: 'center',width: {:get_col_width('supplier_name',120)}},
				{field: 'product_name',title: '产品名称',align: 'center',width: {:get_col_width('product_name')}},
				{field: 'warehous_num',title: '入库量',align: 'center',width: {:get_col_width('warehous_num',100)}},
			]],
			limit:90,
			height:'full-210',
			cellMinWidth: 100,
			//skin: 'line',
			toolbar: false,
			defaultToolbar: [{
				title: '刷新',
				layEvent: 'refresh',
				icon: 'layui-icon-refresh',
			}, 'filter']
		});


		form.on('submit(query)', function(data) {
			table.reload('dataTable', {
				where: data.field,
				page:{curr: 1}
			})
			return false;
		});
		
		table.on('colResized(dataTable)', function(obj){
			$.ajax({
				type : "post",
				url : "{:url('Common/setColWidth')}",
				data: {field:obj.col.field,width:obj.col.width,path:'{:request()->baseUrl()}'},
				success : function(data) {
	
				}
			});
		});
		
	})
</script>
{/block}


