{extend name="base" /}
{block name="body"}
<style>
.layui-input-block {margin-left: 160px;}
.layui-form-label {width: 130px;}
</style>
<form class="layui-form" action="" method="post" data-reload="7" data-callback="submitCallBack">
	<input type="hidden" name="is_special" value="0">
	<div class="mainBox">
		<div class="main-container">
			<div class="layui-form-item">
				<label class="layui-form-label">关联销售单号</label>
				<div class="layui-input-inline">
					<input type="hidden" name="sale_order_id" id="sale_order_id">
					<input type="text"  id="sale_order_sn" ts-selected=""  placeholder="请选择,可为空" autocomplete="off" class="layui-input">
				</div>				
				<label class="layui-form-label">客户名称/订货单位</label>
				<div class="layui-input-inline">
					<input type="hidden" name="customer_id" id="customer_id">
					<input type="text" name="customer_name" id="customer_name" readonly lay-verify="required" ts-selected=""  placeholder="请选择,不可为空" autocomplete="off" class="layui-input">
				</div>	
				<label class="layui-form-label">域属</label>
				<div class="layui-input-inline">
					{foreach $region_type as $key=>$vo}
					<input type="radio" name="region_type" value="{$key}" title="{$vo}" {if $key == 1}checked{/if}>
					{/foreach}
				</div>					
			</div>
			<div class="layui-form-item">			
				<label class="layui-form-label">收货地址/国家</label>
				<div class="layui-input-inline">
					<input type="text" maxlength="255" name="address" id="address" lay-verify="required" placeholder="请输入,不可为空" autocomplete="off" class="layui-input">
				</div>
				<label class="layui-form-label">联系人</label>
				<div class="layui-input-inline">
					<input type="text" maxlength="100" name="contacts" id="contacts" lay-verify="required"  placeholder="请输入,不可为空" autocomplete="off" class="layui-input">
				</div>
				<label class="layui-form-label">联系电话</label>
				<div class="layui-input-inline">
					<input type="text" maxlength="100" name="phone" id="phone" lay-verify="required" placeholder="请输入,不可为空" autocomplete="off" class="layui-input">
				</div>		
			</div>				
			<div class="layui-form-item">
				<label class="layui-form-label">交货日期</label>
				<div class="layui-input-inline">
					<input type="text" name="delivery_time" readonly lay-verify="required" value="{:date('Y-m-d',strtotime('+7 days'))}"  placeholder="请选择,不可为空" autocomplete="off" class="layui-input date">
				</div>
				<label class="layui-form-label">售后类型</label>
				<div class="layui-input-inline">
					<select name="order_type" lay-verify="required">
						{foreach $order_type as $key=>$vo}
						<option value="{$key}">{$vo}</option>
						{/foreach}
					</select>
				</div>					
				<label class="layui-form-label">发货类型</label>
				<div class="layui-input-inline">
					<select name="shipping_type" lay-verify="required">
						{foreach $shipping_type as $key=>$vo}
						<option value="{$key}">{$vo}</option>
						{/foreach}
					</select>
				</div>	
			</div>								
			<div class="layui-form-item">
				<label class="layui-form-label">备注</label>
				<div class="layui-input-block">
					<input type="text" maxlength="255" name="order_remark"  placeholder="请输入,可为空" autocomplete="off" class="layui-input">
				</div>
			</div>				
		</div>
	</div>
	<div class="bottom">
		<div class="button-container">
			<button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="*"><i class="layui-icon layui-icon-ok"></i>提交</button>
			<button type="reset" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon layui-icon-refresh"></i>重置</button>
		</div>
	</div>
</form>
{/block}
{block name="script"}
<script>
layui.use(['tableSelect','form'], function () {
	var $ = layui.jquery;
	var tableSelect = layui.tableSelect;
	var form = layui.form;
	tableSelect.render({
		elem: '#customer_name',
		checkedKey: 'id',
		searchKey: 'keyword',
		searchPlaceholder: '客户名称/编码',
		table: {
			url: '{:url('erp.customer/list')}',		
			cols: [[
				{type: 'radio' },
				{field: 'id', title: 'id' },
				{field: 'sn',title: '客户编码',align: 'center',unresize: false,},
				{field: 'name',title: '客户名称',align: 'center',unresize: false,},
				{field: 'contacts',title: '联系人',align: 'center',unresize: false},
			]]
		},
		done: function (elem, data) {
			elem.val(data.data[0]['name']);
			$('#customer_id').val(data.data[0]['id']);
			$('#contacts').val(data.data[0]['contacts']);
			$('#phone').val(data.data[0]['phone']);
			$('#address').val(data.data[0]['region_name']+data.data[0]['address']);
		}
	})
	
	tableSelect.render({
		elem: '#sale_order_sn',
		checkedKey: 'id',
		searchKey: 'keyword',
		searchPlaceholder: '客户名称/销售合同号',
		table: {
			url: '{:url('erp.order/list')}',		
			cols: [[
				{type: 'radio' },
				{field: 'customer_name',title: '客户名称/订货单位',align: 'center',unresize: false,width: {:get_col_width('customer_name')}},
				{field: 'order_sn',title: '销售合同号',align: 'center',unresize: false,width: {:get_col_width('order_sn',140)}},
				{field: 'address',title: '收货地址/国家',align: 'center',unresize: false,width: {:get_col_width('address',200)}},
			]]
		},
		done: function (elem, data) {
			elem.val(data.data[0]['order_sn']);
			$('#customer_name').val(data.data[0]['customer_name']);
			$('#customer_id').val(data.data[0]['customer_id']);
			$('#contacts').val(data.data[0]['contacts']);
			$('#phone').val(data.data[0]['phone']);
			$('#address').val(data.data[0]['address']);
			$("input[name='region_type'][value='"+data.data[0]['region_type']+"']").prop("checked", true);
			$('#sale_order_id').val(data.data[0]['id']);
			
			
			form.render('radio');
		}
	})	
	
	window.submitCallBack = function (res){
		parent.layui.table.reload('dataTable');
		location.replace('{:url('view')}?id='+res.data.id);
	}
	
});
</script>
{/block}