{extend name="base" /}
{block name="body"}
<style>
.left .layui-inline{width:100px;}
.layui-table-cell {padding: 6px 5px;}
</style>
<div class="layui-row layui-col-space10">
	<div class="layui-col-md5">
		<div class="layui-card left">
			<div class="layui-card-body">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<div class="layui-form-item layui-inline">
							<input type="text" name="order_sn" placeholder="采购单编号" class="layui-input">					
						</div>
						<div class="layui-form-item layui-inline">
							<select name="supplier_id" lay-search="">
								<option value="">供应商</option>
								{foreach $supplier as $key=>$vo}
								<option value="{$vo['id']}">{$vo['name']}</option>
								{/foreach}
							</select>				
						</div>						
						<div class="layui-form-item layui-inline">
							<select name="status">
								<option value="">状态</option>
								{foreach $status as $key=>$vo}
								<option value="{$key}" {if $default_status == $key}selected{/if}>{$vo}</option>
								{/foreach}
							</select>
						</div>		
						<div class="layui-form-item layui-inline">
							<input type="text" name="material" placeholder="物料编号/物料名称" class="layui-input">					
						</div>							
						<div class="layui-form-item layui-inline" style="width:auto;">
							<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="query"><i class="layui-icon layui-icon-search"></i>查询</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="dataTable" lay-filter="dataTable"></table>
			</div>
		</div>
	</div>
	<div class="layui-col-md7">
		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" action="" id="searchForm">
					<div class="layui-form-item">
						<div class="layui-form-item layui-inline">
							<input type="text" name="keyword" placeholder="物料编码/名称" class="layui-input">					
						</div>							
						<div class="layui-form-item layui-inline">
							<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="materialQuery"><i class="layui-icon layui-icon-search"></i>查询</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="empty" style="margin-top: 50px;margin-left: 220px;margin-bottom: 80px;" width="184" height="152">
					请点击左边“行”，选择入库单编号，查看明细！
				</div>
				<table id="materialTable" lay-filter="materialTable"></table>
			</div>
		</div>
	</div>
</div>
<script type="text/html" id="toolbar">
	<button class="pear-btn pear-btn-warming pear-btn-sm  pear-btn-sm"  lay-event="print"><i class="layui-icon layui-icon-print"></i>打印采购单</button>
</script>
<script type="text/html" id="options">
	{{#  if(d.can_edit){ }}<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="edit">编辑</button>{{#  } }}
	{{#  if(d.can_recheck){ }}<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="recheck">反审</button>{{#  } }}
	{{#  if(d.can_check){ }}<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="check">审批</button>{{#  } }}
	{{#  if(d.can_send){ }}<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="send">发供应商</button>{{#  } }}
	{{#  if(d.can_cancel){ }}<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="cancel">作废</button>{{#  } }}
	<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="log">变更</button>
	<button class="pear-btn pear-btn-primary pear-btn-xs" lay-event="copy">复制</button>
</script>

{/block}
{block name="script"}
<script>
	layui.use(['table', 'form', 'jquery','common'], function() {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;
		let order_id;
		var order_sn = '';

		table.render({
			elem: '#dataTable',
			url: '{:url('materialReport')}?status={$default_status}',
			page: true,
			height: 'full-170',
			cols: [[
				{type: 'checkbox',unresize: true},
				{field: 'order_sn',title: '采购单编号',align: 'center',unresize: false,width: {:get_col_width('order_sn',150)}, hide: getTableFieldIsHide('dataTable','order_sn')},
				{field: 'supplier_name',title: '供应商',align: 'center',unresize: false,width: {:get_col_width('supplier_name',100)}, hide: getTableFieldIsHide('dataTable','supplier_name')},
				{field: 'follow_admin_name',title: '采购跟进人',align: 'center',unresize: false,width: {:get_col_width('follow_admin_name',100)}, hide: getTableFieldIsHide('dataTable','follow_admin_name')},
				{field: 'order_date',title: '采购日期',align: 'center',unresize: false,width: {:get_col_width('order_date',150)}, hide: getTableFieldIsHide('dataTable','order_date')},
				{field: 'material_category',title: '物资类别',align: 'center',unresize: false,width: {:get_col_width('material_category',120)}, hide: getTableFieldIsHide('dataTable','material_category')},

			]],
			limit:100,
			limits:[100,200,300,400,500],
			cellMinWidth: 60,
			toolbar: '#toolbar',
			defaultToolbar: [{
					title: '刷新',
					layEvent: 'refresh',
					icon: 'layui-icon-refresh',
			}, 'filter'],
		});

		table.on('sort(dataTable)', function(obj){
			table.reload('dataTable', {
				initSort: obj,
				where: {
					sort: obj.field,
					order: obj.type
				}
			},true);
		});

		table.on('toolbar(dataTable)', function(obj) {
			if (obj.event === 'print') {
				var checkStatus = table.checkStatus('dataTable');
				if(checkStatus.data.length == 0){
					layer.msg('请选择要操作的内容');
					return false;
				}
				var ids = [];
				for(var i in checkStatus.data) {
					ids.push(checkStatus.data[i].id);
				}
				toPrintPage(71,{id:ids.join(',')});
				return false;
			}else if (obj.event === 'refresh') {
				table.reload('dataTable');
			}
		});

		form.on('submit(query)', function(data) {
			table.reload('dataTable', {
				where: data.field,
				page:{curr: 1}
			})
			return false;
		});


		form.on('submit(materialQuery)', function(data) {
			if(!order_id){
				layui.layer.msg('请先选择入库单');
				return false;
			}
			table.reload('materialTable', {
				where: data.field,
				page:{curr: 1}
			})
			return false;
		});		
		
		form.on('submit(print1)', function(data) {
			if(!order_id){
				layui.layer.msg('请先选择入库单');
				return false;
			}
			toPrintPage(2,{id:order_id});
			return false;
		});	
		
		form.on('submit(print2)', function(data) {
			if(!order_id){
				layui.layer.msg('请先选择入库单');
				return false;
			}
			toPrintPage(1,{id:order_id});
			return false;
		});		
		
		table.on('row(dataTable)',function (obj) {
			window.renderData(obj.data)
		})		
		
		window.renderData = function(order) {
			$(".empty").hide();
			order_id = order.id
			order_sn = order.order_sn;
			table.render({
				elem: '#materialTable',
				url: "{:url('materialData')}?"+$('#searchForm').serialize()+"&order_id="+order_id,
				page: true,
				height: 'full-170',
				limit:100,
				limits:[100,200,300,400,500],
				cols: [[
					//{type: 'checkbox'},
					{field: 'sn',title: '物料编码',align: 'center',unresize: false,width: {:get_col_width('sn'.'2',150)}, hide: getTableFieldIsHide('materialTable','sn')},
					{field: 'name',title: '物料名称',align: 'left',unresize: false,width: {:get_col_width('name'.'2',250)}, hide: getTableFieldIsHide('materialTable','name')},
					{field: 'delivery_date',title: '要求交货日期',align: 'center',unresize: false,width: {:get_col_width('delivery_date'.'2',120)}, hide: getTableFieldIsHide('materialTable','delivery_date')},
					{field: 'apply_num',title: '采购量',align: 'center',unresize: false,width: {:get_col_width('apply_num'.'2',100)}, hide: getTableFieldIsHide('materialTable','apply_num')},
					{field: 'unit',title: '单位',align: 'center',unresize: false,width: {:get_col_width('unit'.'2',100)}, hide: getTableFieldIsHide('materialTable','unit')},
					{field: 'material',title: '材料',align: 'center',unresize: false,width: {:get_col_width('material'.'2',100)}, hide: getTableFieldIsHide('materialTable','material')},
					{field: 'surface',title: '表面',align: 'center',unresize: false,width: {:get_col_width('surface'.'2',100)}, hide: getTableFieldIsHide('materialTable','surface')},
					{field: 'color',title: '颜色',align: 'center',unresize: false,width: {:get_col_width('color'.'2',100)}, hide: getTableFieldIsHide('materialTable','color')},
					{field: 'remark',title: '备注',align: 'center',unresize: false,width: {:get_col_width('remark'.'2',150)}, hide: getTableFieldIsHide('materialTable','remark')},
				]],
				toolbar: '#materialTable',
				defaultToolbar: [{
					title: '刷新',
					layEvent: 'refresh',
					icon: 'layui-icon-refresh',
				}, 'filter'],
			});
		}
		
		table.on('colResized(dataTable)', function(obj){
			$.ajax({
				type : "post",
				url : "{:url('Common/setColWidth')}",
				data: {field:obj.col.field+'',width:obj.col.width,path:'{:request()->baseUrl()}'},
				success : function(data) {
	
				}
			});
		});
		
		table.on('colResized(materialTable)', function(obj){
			$.ajax({
				type : "post",
				url : "{:url('Common/setColWidth')}",
				data: {field:obj.col.field+'2',width:obj.col.width,path:'{:request()->baseUrl()}'},
				success : function(data) {
	
				}
			});
		});
		table.on('colToggled(dataTable)', function(obj){
			setTableFieldIsHide(obj.config.id,obj.col.field,obj.col.hide);
		});
		table.on('colToggled(materialTable)', function(obj){
			setTableFieldIsHide(obj.config.id,obj.col.field,obj.col.hide);
		});
	})
</script>
{/block}


