{extend name="base" /}
{block name="body"}
<style>
.layui-input-block {margin-left: 150px;}
.layui-form-label {width: 120px;}
</style>
<form class="layui-form" action="" method="post" data-reload="2" data-callback="submitCallBack">
	<input type="hidden"   name="id" value="{$model['id']}" >
	<div class="mainBox">
		<div class="main-container">
			<blockquote class="layui-elem-quote">单据单头信息</blockquote>
			<div class="layui-form-item">	
				<label class="layui-form-label">供应商</label>
				<div class="layui-input-inline">
					<select name="supplier_id" lay-search  lay-verify="required">
						<option value=""></option>
						{foreach $supplier as $key=>$vo}
						<option {if $model['supplier_id'] == $vo['id']}selected{/if} value="{$vo['id']}">{$vo['name']}</option>
						{/foreach}
					</select>
				</div>				
				<label class="layui-form-label">采购日期</label>
				<div class="layui-input-inline">
					<input type="text"  readonly name="order_date" value="{$model['order_date']}" lay-verify="required" placeholder="请选择,不可为空" autocomplete="off" class="layui-input date">
				</div>
				<label class="layui-form-label">要求交货日期</label>
				<div class="layui-input-inline">
					<input type="text"  readonly name="delivery_date" id="delivery_date" value="{$model['delivery_date']}" placeholder="请选择,不可为空" autocomplete="off" class="layui-input">
				</div>				
			
			</div>	
			<div class="layui-form-item">						
				<label class="layui-form-label">备注</label>
				<div class="layui-input-inline">
					<input type="text" maxlength="255" name="remark"  value="{$model['remark']}" placeholder="请输入" autocomplete="off" class="layui-input">
				</div>	
				<label class="layui-form-label">采购跟进人</label>
				<div class="layui-input-inline">
					<select name="follow_admin_id" lay-search  lay-verify="required">
						{foreach $admins as $key=>$vo}
						<option {if $vo['id'] == $model['follow_admin_id']}selected{/if} value="{$vo['id']}">{$vo['username']}</option>
						{/foreach}
					</select>
				</div>
				<label class="layui-form-label">物资类别</label>
				<div class="layui-input-inline">
					<select name="material_category" lay-search lay-verify="required" >
						<option value="" >请选择</option>
						<option value="重要物资" {if '重要物资' == $model['material_category']}selected{/if}>重要物资</option>
						<option value="一般物资" {if '一般物资' == $model['material_category']}selected{/if}>一般物资</option>
						<option value="辅助物资" {if '辅助物资' == $model['material_category']}selected{/if}>辅助物资</option>
					</select>
				</div>					
			</div>	
			<blockquote class="layui-elem-quote">相关物料信息</blockquote>
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md11">
					<select id="selectId"  xm-select="selectId" xm-select-radio  xm-select-search=""></select>
				</div>
				<div class="layui-col-md1">
					<button type="button" class="layui-btn showSearch">高级筛选</button>
				</div>
			</div>
			<table class="layui-table">
				<thead>
					<tr>
						<th>物料编码</th>
						<th>物料名称</th>
						<th style="width:150px">要求交货日期</th>
						<th style="width:150px">采购量</th>
						<th style="width:150px">备注</th>
						<th style="width:100px">操作</th>
					</tr> 
				</thead>
				<tbody id="tbody">
					{foreach $model['order_data'] as $vo}
					<tr id="material_{$vo['data_id']}"><input type="hidden"  name="material[{$vo['data_id']}][data_id]" value="{$vo['data_id']}" ><input type="hidden" class="id" name="material[{$vo['data_id']}][id]" value="{$vo['id']}" >
						<td>{$vo['material']['sn']}</td>
						<td>{$vo['material']['name']}</td>
						<td><input type="text"  name="material[{$vo['data_id']}][delivery_date]" value="{$vo['delivery_date']}" class="layui-input date delivery_date" data-key="delivery_date" placeholder=""></td>
						<td><input type="text"  name="material[{$vo['data_id']}][apply_num]" value="{$vo['apply_num']}" data-key="apply_num" class="layui-input apply_num" lay-verify="required|number" placeholder="请输入数量"></td>
						<td><input type="text"  name="material[{$vo['data_id']}][remark]" value="{$vo['remark']}" data-key="remark" class="layui-input remark" placeholder=""></td>
						<td><button type="button" onclick="deleteMaterial({$vo['data_id']})" class="layui-btn layui-btn-xs layui-btn-danger">删除</button></td>
					</tr>
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>
	<div class="bottom">
		<div class="button-container">
			<button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="*"><i class="layui-icon layui-icon-ok"></i>提交</button>
			<button type="reset" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon layui-icon-refresh"></i>重置</button>
		</div>
	</div>
</form>
{/block}
{block name="script"}
<script>

layui.use(['tableSelect','select','laydate'], function () {
	var $ = layui.jquery;
	var tableSelect = layui.tableSelect;
	var select = layui.select;
	var laydate = layui.laydate;
	
	laydate.render({
		elem: '#delivery_date',
		type: 'date',
		trigger: 'click',
		done: function(value, date, endDate){
			$('.delivery_date').val(value);
		}
	});
	
	window.submitCallBack = function (res){
		parent.layui.table.reload('dataTable');
		location.replace('{:url('edit')}?id='+res.data.id);
	}
	
	window.deleteMaterial = function(_id){
		if($('#material_'+_id+' .id').val()){
			layerConfirm('是否删除当前物料的采购信息，删除后无法恢复，是否继续?','{:url('materialRemove')}',{id:$('#material_'+_id+' .id').val()},function(res){
				$('#material_'+_id).remove();
			})
		}else{
			$('#material_'+_id).remove();
		}
	}
	
	select.config("selectId",{
		type:"post",
		searchUrl:'{:url('common/material')}?limit=50&status=1',    //请求地址
		searchName: "keyword",
		keyName:"name",
		keyVal:"id" , 
		beforeSuccess: function(id, url, searchVal, result){
			$.each(result.data, function(index, item) {
				item._name = item.name;
				item.name = '物料编码：'+item.sn + ' | 物料名称：' + item.name + ' | 现有库存：' + item.stock + '';
			});
			return result;
		}
	},false)
	
	select.on('selectId', function(id, vals, item, isAdd, isDisabled){
		if($('#material_'+item.id).length>0){
			layer.msg('物料已添加');	
			$('#material_'+item.id).find('.apply_num').focus();
		}else if(item && item.id && item.name){
			addMaterial(item);
		}
		$('.xm-select-parent>.xm-form-select').removeClass('xm-form-selected');
		
		lay('.delivery_date').each(function(){
			laydate.render({
				elem: this,
				type: 'date',
				trigger: 'click'
			});
		});
		
		return false;
	});
	
	function addMaterial(item){
		var apply_num = '';
		var html = '<tr id="material_'+item.id+'"><input type="hidden"  name="material['+item.id+'][data_id]" value="'+item.id+'" >';
		html += '	<td>'+item.sn+'</td>';
		html += '	<td>'+(item._name?item._name:item.name)+'</td>';
		html += '	<td><input type="text"  name="material['+item.id+'][delivery_date]" value="'+($('#delivery_date').val())+'" class="layui-input delivery_date" data-key="delivery_date" placeholder=""></td>';
		
		if(item.max_stock>item.stock){
			apply_num = item.max_stock - item.stock;
		}
		html += '	<td><input type="text"  name="material['+item.id+'][apply_num]" value="'+apply_num+'" data-key="apply_num" class="layui-input apply_num" lay-verify="required|number" placeholder="请输入数量"></td>';
		html += '	<td><button type="button" onclick="deleteMaterial('+item.id+')" class="layui-btn layui-btn-xs layui-btn-danger">删除</button></td>';
		html += '</tr>';
		$('#tbody').prepend(html);	
		$('#material_'+item.id).find('.apply_num').focus();
	}
	
	
	$(".layui-table").on("keydown",".layui-input",function(){
		if (event.keyCode == 40) {
			$(this).closest('tr').next().find('.'+$(this).data('key')).focus();
		}else if (event.keyCode == 38) {
			$(this).closest('tr').prev().find('.'+$(this).data('key')).focus();
		}else if (event.keyCode == 13 || event.keyCode == 39) {
			//右一个
			$(this).closest('td').next().next().find('.layui-input').focus();
		}else if (event.keyCode == 37) {
			//左一个
			$(this).closest('td').prev().prev().find('.layui-input').focus();
		}
	});
	
	$('.showSearch').click(function(){
		layer.open({
			type: 2
			,title: '高级筛选'
			,content: '{:url('common/material')}?status=1'
			,area: ['95%','95%']
			,success: function(layero, index){
				var iframeWindow = window['layui-layer-iframe'+ index];
				layero.find('iframe').contents().find('#confirmSelect').click(function(){
					selectFuc();
					return false;
				})
				
				layero.find('iframe').contents().find('body').on("keydown", function(event) {
					if (event.which === 13) {
						selectFuc();
						return false;
					}
				});
				
				function selectFuc(){
					if(iframeWindow.selected_ids.length == 0){
						layui.layer.msg('请选择物料');
					}else{
						$.each(iframeWindow.selected_items,function(idx,item){
							if($('#material_'+item.id).length == 0){
								addMaterial(item);
							}
						})
						
						lay('.delivery_date').each(function(){
							laydate.render({
								elem: this,
								type: 'date',
								trigger: 'click'
							});
						});
						layui.layer.close(index);
					}
					return false;
				}
			}
		});
	})
});
</script>
{/block}