{extend name="base" /}
{block name="body"}
<style>
.layui-input-block {margin-left: 150px;}
.layui-form-label {width: 120px;}
</style>
<form class="layui-form" action="" method="post">
	<input type="hidden" name="ids" value="{$ids}" >
	<div class="mainBox">
		<div class="main-container">
			<div class="layui-form-item">
				<label class="layui-form-label">收货人</label>
				<div class="layui-input-block">
					<input type="text" maxlength="100" name="consignee" value="{$_admin['nickname']}" lay-verify="required" placeholder="请输入,不可为空" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">收货日期</label>
				<div class="layui-input-block">
					<input type="text" maxlength="100" name="receiving_date" value="{$receiving_date}" lay-verify="required" placeholder="请输入,不可为空" autocomplete="off" class="layui-input date">
				</div>
			</div>				
			<div class="layui-form-item">
				<label class="layui-form-label">送检人</label>
				<div class="layui-input-block">
					<input type="text" maxlength="100" name="inspection_by"  value="{$_admin['nickname']}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
				</div>
			</div>				
			<div class="layui-form-item">
				<label class="layui-form-label">送检日期</label>
				<div class="layui-input-block">
					<input type="text" maxlength="100" name="inspection_date" value="{:date('Y-m-d')}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input date">
				</div>
			</div>				
			<div class="layui-form-item">
				<label class="layui-form-label">物料编号(序列号)</label>
				<div class="layui-input-block">
					<input type="text" maxlength="255" name="material_code" value="{$material_code|default=''}"  placeholder="请输入" autocomplete="off" class="layui-input">
				</div>
			</div>	
		</div>
	</div>
	<div class="bottom">
		<div class="button-container">
			<button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="*"><i class="layui-icon layui-icon-ok"></i>提交</button>
			<button type="reset" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon layui-icon-refresh"></i>重置</button>
		</div>
	</div>
</form>
{/block}
{block name="script"}
<script>
layui.use(['form','element','iconPicker','jquery','dtree'], function() {
	var form = layui.form;
	var element = layui.element;
	var $ = layui.jquery;

});
</script>
{/block}